<!DOCTYPE html>
<html lang="en">
<head>
	<title>Alma-Job-Runner</title>
	{{>views/head-partial}}
</head>
<body>
{{>views/nav-partial}}
<main>
	<h1>Alma Job Runner</h1>
	<br>
	<p>
		<a href="/jobs/reload"><button>Reload Job Configuration</button></a>
		<a href="/jobs/unregister"><button>Unregister Jobs</button></a>
	</p>
	<br>
	<p>
	<a href="/jobs/list">Job List</a> |
	<a href="/jobs/results">Job Results</a>
	</p>
	<br>
	<p>
		For more info see: <a href="https://github.com/HSG-Library/alma-job-runner">Project on GitHub</a>
	</p>
</main>
</body>
</html>
