<!DOCTYPE html>
<html lang="en">
<head>
	<title>Alma-Job-Runner - Unregister Jobs</title>
	{{>views/head-partial}}
</head>
<body>
{{>views/nav-partial}}
<main>
	<h1>Unregister Jobs</h1>
	<p>
		Jobs unregistered
	</p>
</main>
</body>
</html>
